<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
</head>
<body>
<div class="container bg-light">
<hr>
<h1>Los punkis.</h1>
<hr>
<div class="row">
{% for image in paths %}
  <div class="col">
    <a href="static/punks/{{image}}">
    <img
      src="/static/punks/{{ image }}"
      alt="{{ image }}"
    />
    </a>
  </div>
{% endfor %}
</div>


</div>

</body>
</html>
